
module postgrelocal 1.0;

require {
	type httpd_t;
	type unreserved_port_t;
	type soundd_port_t;
	class tcp_socket { name_bind name_connect };
}

#============= httpd_t ==============

#!!!! This avc can be allowed using the boolean 'httpd_can_network_connect'
allow httpd_t soundd_port_t:tcp_socket name_connect;

#!!!! This avc can be allowed using the boolean 'nis_enabled'
allow httpd_t unreserved_port_t:tcp_socket name_bind;

require {
        type initrc_t;
        type systemd_hostnamed_t;
        class dbus send_msg;
}

#============= systemd_hostnamed_t ==============
allow systemd_hostnamed_t initrc_t:dbus send_msg;
